[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nest-Microservices-Curso-Devisson/client-Gateway.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Nest-Microservices-Curso-Devisson/products-microservices.git
